.alert-message-container {
  display: flex;
  justify-content: center;
}

.success-alert {
  padding: 20px;
  background-color: #04aa6d;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.error-alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
}

.closebtn {
  background-color: transparent;
  border: none;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: black;
}
