/*================================== Layout ==================================*/
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1024px;
}

.left-column {
  width: 65%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column {
  width: 35%;
  margin-top: 100px;
}

/*================================== Image ==================================*/

.left-column img {
  width: auto;
  height: 300px;
  transition: all 0.3s ease;
  object-fit: cover;
}

/*================================== Advertisement info ==================================*/
.buttons-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.delete-button,
.edit-button {
  margin: 5px;
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.right-column .buttons-header .edit-button {
  border: 2px solid rgb(83, 189, 110);
}

.right-column .buttons-header .delete-button {
  border: 2px solid rgb(175, 67, 67);
}

.back-button {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.back-button img {
  width: 50px;
  margin-right: 20px;
}

.product {
  border-bottom: 1px solid red;
  margin-bottom: 20px;
}
.right-column .description .type {
  font-size: 20px;
  color: #ff5a30;
  text-transform: uppercase;
  text-decoration: none;
}
.description h1 {
  font-size: 52px;
  margin-bottom: 10px;
}

.description .date-published {
  font-size: 15px;
}
.description p {
  font-size: 16px;
  color: #86939e;
  line-height: 24px;
  margin-bottom: 20px;
}

/*================================== Price ==================================*/
.price {
  display: flex;
  align-items: center;
}

.price p {
  font-size: 26px;
  margin-right: 20px;
}

/*================================== Tags ==================================*/
.tags-container {
  margin-bottom: 20px;
}

.tags-container button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
  margin: 3px;
}

.tags-container button:hover,
.tags-container button:active,
.tags-container button:focus {
  border: 2px solid #86939e;
  outline: none;
}

/*================================== Card button ==================================*/
.cart-btn {
  display: inline-block;
  background-color: #ff5a30;
  border-radius: 50px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #ff1a52;
}

/*================================== Media Querys ==================================*/
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
  }

  .left-column,
  .right-column {
    width: 300px;
  }
}
