/*================================== Menu ==================================*/
.navigation {
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 5px 16px;
  border-bottom: 1px solid rgba(236, 239, 241, 0.5);
}

.navigation ul {
  list-style: none;
}

.navigation ul a {
  text-decoration: none;
  font-size: 0.9em;
  color: #253238;
  font-weight: 400;
  transition: all 0.3s ease;
}

.navigation ul .search-container {
  flex-basis: 350px;
}

.navigation-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navigation-list .brand .brand-img {
  width: 200px;
  text-align: left;
  margin-right: 20px;
}

.navigation-list .search-container input {
  height: 42px;
  width: 100%;
  border-radius: 50px;
  background-color: #eceff1;
  border: none;
  font-size: 0.9em;
  color: #b3c5ce;
  padding: 0 32px 0 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.navigation-list .search-container button {
  display: none;
}

.navigation-list .navigation-options-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 20px;
}

.navigation-list .navigation-options-container div {
  padding: 10px;
}

.navigation-list .navigation-buttons {
  display: flex;
  flex-flow: row;
}

.navigation-list .navigation-buttons div {
  padding: 10px;
}

.navigation .navigation-list span {
  font-weight: 700;
  padding-left: 5px;
}

.navigation .navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .navigation-list .navigation-icon-svg {
  height: 20px;
  vertical-align: middle;
  position: relative;
  margin-right: 10px;
}

.navigation .navigation-buttons {
  margin: 10px;
}

/*================================== Buttons ==================================*/
.button {
  text-decoration: none;
  padding: 0 2em;
  height: 50px;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 50px;
  min-width: 150px;
  border: 1px solid #ff5a30;
  cursor: pointer;
}

.navigation .navigation-list .close-sesion-button {
  color: #ff5a30;
  background-color: white;
}

.navigation .navigation-list .login-button {
  color: #ff5a30;
  background-color: white;
}

.navigation .navigation-list .close-sesion-button:hover,
.navigation .navigation-list .load-product-button:hover,
.navigation .navigation-list .login-button:hover {
  color: white;
  background-color: #ff1a52;
  border: 1px solid #ff1a52;
}

.navigation .navigation-list .load-product-button {
  color: white;
  border: 1px solid #ff5a30;
  background-color: #ff5a30;
}

/*================================== Media ==================================*/
@media only screen and (max-width: 600px) {
  .navigation-list {
    flex-flow: column wrap;
  }

  .navigation-list .navigation-buttons {
    display: flex;
    flex-flow: column;
  }

  .navigation ul .search-container {
    flex-basis: 0px;
    display: block;
    width: 100%;
  }

  .navigation-options-container {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navigation-buttons,
  .login-button,
  .load-product-button {
    display: block;
    width: 100%;
    text-align: center;
  }
}
